body {
    text-align: center;
  }
  
  #mic-button {
    background-color: #333;
    color: #fff;
    font-size: 10rem;
    border-radius: 50%;
    width: 50rem;
    height: 50rem;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
